<!-- Include Header -->
  <%- include('include/_header') %>
<!-- /Include Header -->

<!-- Main Site -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <a href="/add-dish" class="border-shadow">
        <span class="text-gradient"
          >New Dish <i class="fa-regular fa-lemon"></i
        ></span>
      </a>
      <a href="/menu" class="border-shadow">
        <span class="text-gradient"
          >Menu <i class="fa-solid fa-utensils"></i>
        </span>
      </a>
    </div>

    <!-- Form Handling -->
    <form action="/" method="POST">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Dish</th>
            <th>Category</th>
            <th>Description</th>
            <th>Ingredients</th>
            <th>Diet</th>
            <th>Allergens</th>
            <th>Price</th>
            <th>Availability</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%- include('include/_show') %>
        </tbody>
      </table>
    </form>
  </div>
</main>
<!-- /Main Site -->

<!-- Include Footer -->
  <%- include('include/_footer') %>
<!-- /Include Footer -->
