<!-- ======= Footer ======= -->
<footer>
  <div class="container">
    <!-- <h3>Carla Reis</h3> -->
    <!-- <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p> -->

    <div class="copyright">
      &copy; Copyright <strong><span>Restaurant X</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed and developed by <a href="https://carlabreis.netlify.app/" class="text-dark">Carla Reis</a>
    </div>
  </div>
</footer>
<!-- End Footer -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
