<!-- Form Handling -->
<form action="/api/dishes" id="add_dish" method="POST">
  <div class="new_dish">
    <div class="form-group">
      <label for="dish" class="text-light">Dish</label>
      <input type="hidden" name="id" value="" />
      <input
        type="text"
        name="dish"
        value=""
        placeholder="e.g. Chicken Parm"
      />
    </div>

    <div class="form-group">
      <label for="category" class="text-light">Category</label>
      <div class="">
        <div class="radio inline">
          <input
            type="radio"
            id="radio-appetizer"
            name="category"
            value="Appetizer"
          />
          <label for="radio-appetizer" class="radio-label">Appetizer</label>
        </div>
        <div class="radio inline">
          <input
            type="radio"
            id="radio-entree"
            name="category"
            value="Entree"
          />
          <label for="radio-entree" class="radio-label">Entree</label>
        </div>
        <div class="radio inline">
          <input
            type="radio"
            id="radio-salad"
            name="category"
            value="Salad"
          />
          <label for="radio-salad" class="radio-label">Salad</label>
        </div>
        <div class="radio inline">
          <input
            type="radio"
            id="radio-dessert"
            name="category"
            value="Dessert"
          />
          <label for="radio-dessert" class="radio-label">Dessert</label>
        </div>
        <div class="radio inline">
          <input type="radio" id="radio-soup" name="category" value="Soup" />
          <label for="radio-soup" class="radio-label">Soup</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="description" class="text-light">Description</label>
      <input type="text" name="description" value="" placeholder="" />
    </div>

    <div class="form-group">
      <label for="ingredients" class="text-light">Ingredients</label>
      <input type="text" name="ingredients" value="" placeholder="" />
    </div>

    <div class="form-group">
      <label for="diet" class="text-light">Diet</label>
      <div class="">
        <div class="radio inline">
          <input
            type="radio"
            id="radio-vegan"
            name="diet"
            value="Vegan"
          />
          <label for="radio-vegan" class="radio-label">Vegan</label>
        </div>
        <div class="radio inline">
          <input
            type="radio"
            id="radio-vegetarian"
            name="diet"
            value="Vegetarian"
          />
          <label for="radio-vegetarian" class="radio-label">Vegetarian</label>
        </div>
        <div class="radio inline">
          <input
            type="radio"
            id="radio-regular"
            name="diet"
            value="Regular"
          />
          <label for="radio-regular" class="radio-label">Regular</label>
        </div>
      </div>      
    </div>

    <div class="form-group">
      <label for="diet" class="text-light">Allergens</label>
      <div class="">
        <div class="radio inline">
          <input
            type="checkbox"
            id="radio-milk"
            name="allergens"
            value="Milk"
          />
          <label for="radio-milk" class="radio-label">Milk</label>
        </div>
        <div class="radio inline">
          <input
            type="checkbox"
            id="radio-eggs"
            name="allergens"
            value="Eggs"
          />
          <label for="radio-eggs" class="radio-label">Eggs</label>
        </div>
        <div class="radio inline">
          <input
            type="checkbox"
            id="radio-fish"
            name="allergens"
            value="Fish"
          />
          <label for="radio-fish" class="radio-label">Fish</label>
        </div>
        <div class="radio inline">
          <input
            type="checkbox"
            id="radio-shellfish"
            name="allergens"
            value="Shellfish"
          />
          <label for="radio-shellfish" class="radio-label">Shellfish</label>
        </div>
        <div class="radio inline">
          <input
            type="checkbox"
            id="radio-treenuts"
            name="allergens"
            value="Tree-Nuts"
          />
          <label for="radio-treenuts" class="radio-label">Tree Nuts</label>
        </div>
        <div class="radio inline">
          <input
            type="checkbox"
            id="radio-peanuts"
            name="allergens"
            value="Peanuts"
          />
          <label for="radio-peanuts" class="radio-label">Peanuts</label>
        </div>
        <div class="radio inline">
          <input
            type="checkbox"
            id="radio-wheat"
            name="allergens"
            value="Wheat"
          />
          <label for="radio-wheat" class="radio-label">Wheat</label>
        </div>
        <div class="radio inline">
          <input
            type="checkbox"
            id="radio-soy"
            name="allergens"
            value="Soy"
          />
          <label for="radio-Soy" class="radio-label">Soy</label>
        </div>
        <div class="radio inline">
          <input
            type="checkbox"
            id="radio-gluten"
            name="allergens"
            value="Gluten"
          />
          <label for="radio-gluten" class="radio-label">Gluten</label>
        </div>
        <div class="radio inline">
          <input
            type="checkbox"
            id="radio-sesame"
            name="allergens"
            value="Sesame"
          />
          <label for="radio-sesame" class="radio-label">Sesame</label>
        </div>
      </div>      
    </div>

    <div class="form-group">
      <label for="price" class="text-light">Price</label>
      <input type="text" name="price" value="" placeholder="$0.00" />
    </div>

    <div class="form-group">
      <label for="availability" class="text-light">Availability</label>
      <div class="">
        <div class="radio inline">
          <input
            type="radio"
            id="radio-2"
            name="availability"
            value="Available"
          />
          <label for="radio-2" class="radio-label">Available</label>
        </div>
        <div class="radio inline">
          <input
            type="radio"
            id="radio-3"
            name="availability"
            value="Unavailable"
          />
          <label for="radio-3" class="radio-label">Unavailable</label>
        </div>
      </div>      
    </div>

    <div class="form-group">
      <button type="submit" class="btn text-dark update">Save</button>
    </div>
  </div>
</form>
