<!-- Form Handling -->
<form action="/api/dishes" id="add_dish" method="POST">
  <div class="new_dish">
    <div class="form-group">
      <label for="dish" class="text-light">Dish</label>
      <input type="hidden" name="id" value="" />
      <input
        type="text"
        name="dish"
        value=""
        placeholder="e.g. Chicken Parm"
      />
    </div>

    <div class="form-group">
      <label for="category" class="text-light">Category</label>
      <div class="">
        <div class="radio inline">
          <input
            type="radio"
            id="radio-4"
            name="category"
            value="Appetizer"
          />
          <label for="radio-4" class="radio-label">Appetizer</label>
        </div>
        <div class="radio inline">
          <input
            type="radio"
            id="radio-5"
            name="category"
            value="Entree"
          />
          <label for="radio-5" class="radio-label">Entree</label>
        </div>
        <div class="radio inline">
          <input
            type="radio"
            id="radio-6"
            name="category"
            value="Salad"
          />
          <label for="radio-6" class="radio-label">Salad</label>
        </div>
        <div class="radio inline">
          <input
            type="radio"
            id="radio-7"
            name="category"
            value="Dessert"
          />
          <label for="radio-7" class="radio-label">Dessert</label>
        </div>
        <div class="radio inline">
          <input type="radio" id="radio-8" name="category" value="Soup" />
          <label for="radio-8" class="radio-label">Soup</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="description" class="text-light">Description</label>
      <input type="text" name="description" value="" placeholder="" />
    </div>

    <div class="form-group">
      <label for="ingredients" class="text-light">Ingredients</label>
      <input type="text" name="ingredients" value="" placeholder="" />
    </div>

    <div class="form-group">
      <label for="diet" class="text-light">Diet</label>
      <div class="">
        <div class="radio inline">
          <input
            type="radio"
            id="radio-9"
            name="diet"
            value="Vegan"
          />
          <label for="radio-9" class="radio-label">Vegan</label>
        </div>
        <div class="radio inline">
          <input
            type="radio"
            id="radio-10"
            name="diet"
            value="Vegetarian"
          />
          <label for="radio-10" class="radio-label">Vegetarian</label>
        </div>
        <div class="radio inline">
          <input
            type="radio"
            id="radio-11"
            name="diet"
            value="Regular"
          />
          <label for="radio-11" class="radio-label">Regular</label>
        </div>
      </div>      
    </div>

    <div class="form-group">
      <label for="price" class="text-light">Price</label>
      <input type="text" name="price" value="" placeholder="$0.00" />
    </div>

    <div class="form-group">
      <label for="availability" class="text-light">Availability</label>
      <div class="">
        <div class="radio inline">
          <input
            type="radio"
            id="radio-2"
            name="availability"
            value="Available"
          />
          <label for="radio-2" class="radio-label">Available</label>
        </div>
        <div class="radio inline">
          <input
            type="radio"
            id="radio-3"
            name="availability"
            value="Unavailable"
          />
          <label for="radio-3" class="radio-label">Unavailable</label>
        </div>
      </div>      
    </div>

    <div class="form-group">
      <button type="submit" class="btn text-dark update">Save</button>
    </div>
  </div>
</form>
